<div class="card">
  <div class="card-header d-flex justify-content-between">
    <div class="float-left">
      <h4>Courses</h4>
    </div>
    <div class="float-right d-flex gap-2">
      <button class="btn btn-primary" [routerLink]="['new']">
        <i class="fa fa-plus"></i> New Course
      </button>
      <button class="btn btn-secondary" (click)="onRefresh()">
        Refresh
      </button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover" *ngIf="courses$ | async as courses; else loading">
      <thead>
        <tr>
          <th>#</th>
          <th>Course</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <td>{{ course.id }}</td>
          <td>{{ course.name }}</td>
          <td>
            <span class="float-lg-end d-flex gap-2">
              <button class="btn btn-info mb-1 btn-sm">
                Update
              </button>
              <button class="btn btn-danger mb-1 btn-sm">
                Remove
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #loading>
      <div *ngIf="error$ | async; else loadingNoError">
        <span>
          Error loading courses, please try again later.
        </span>
      </div>
      <ng-template #loadingNoError>
        <span>
          loading courses...
        </span>
      </ng-template>
    </ng-template>
  </div>
</div>
