<!-- <nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-text">
      <a class="navbar-brand" routerLink="">Angular forms</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/templateForm">Form - Template Driven</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/dataForm">Form - Data Driven</a>
      </li>
    </ul>
  </div>
</nav> -->
<nav class="navbar navbar-light bg-light">
  <div class=" container">
    <a class="navbar-brand" routerLink="/">Forms</a>
    <ul class="nav navbar-nav d-flex flex-row gap-2">
      <li routerLinkActive="active">
        <a routerLink="/templateForm">Form - Template Driven</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/dataForm">Form - Data Driven</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
