<section class="property-binding">
  <article>
    <h3>Interpolation</h3>
    <p>String rendered using interpolation: {{url}}</p>
    <p>1 + 1 is: {{1 + 1}}</p>
    <p>1 + 1 is'nt : {{1 + 1 + getValue()}}</p>
  </article>
  <article>
    <h3>Property binding</h3>
    <img src="{{imageUrl}}" alt="loaded with interpolation">
    <img [src]="imageUrl" alt="loaded with property binding">
  </article>
  <select class="btn-group" dropdown #type (change)="0">
    <option role="menuitem" value="success">Success</option>
    <option role="menuitem" value="info">Info</option>
    <option role="menuitem" value="warning">Alert</option>
    <option role="menuitem" value="danger">Error</option>
  </select>
  <br>
  <br>
  <alert type="{{type.value}}">
    <strong>SelectValue</strong>
  </alert>
  <br>
  <alert [type]="type.value === 'success' ? 'success' : ''">
    <strong>Well done!</strong> You successfully read this important alert message.
  </alert>
  <alert [type]="type.value === 'info' ? 'info' : ''">
    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
  </alert>
  <alert [type]="type.value === 'warning' ? 'warning' : ''">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </alert>
  <alert [type]="type.value === 'danger' ? 'danger' : ''" [style.display]="type.value === 'danger' ? 'block' : 'none'">
    <strong>Oh snap!</strong> Change a few things up and try submitting again.
  </alert>
</section>
