<form class="d-flex flex-column gap-2" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group" [ngClass]="applyCssError('name')">
    <label for="name">Name</label>
    <input type="text" formControlName="name" id="name" class="form-control" placeholder="Name" required>
    <app-error-msg [formControl]="$any(form.get('name'))" label="Name"></app-error-msg>
  </div>

  <div class="form-group" [ngClass]="applyCssError('email')">
    <label for="email">Email</label>
    <input type="text" formControlName="email" id="email" class="form-control" placeholder="name@email.com" required
      email>
    <app-error-msg [formControl]="$any(form.get('email'))" label="Email"></app-error-msg>
  </div>

  <div class="form-group" [ngClass]="applyCssError('email')">
    <label for="confirmEmail">Confirm email</label>
    <input type="email" class="form-control" id="confirmEmail" placeholder="nome@email.com"
      formControlName="confirmEmail" [ngClass]="applyCssError('confirmEmail')">
    <app-error-msg [formControl]="$any(form.get('confirmEmail'))" label="ConfirmEmail"></app-error-msg>
  </div>

  <div formGroupName="address">
    <div class="row g-3">
      <div class="col-2">
        <label for="cep">CEP</label>
        <input type="text" name="cep" id="cep" class="form-control" placeholder="00.000-000" formControlName="cep">
        <app-error-msg [formControl]="$any(form.get('cep'))" label="CEP"></app-error-msg>
      </div>
      <div class="col-2">
        <label for="number">Number</label>
        <input type="text" name="number" id="number" class="form-control" placeholder="12" formControlName="number">
        <app-error-msg [formControl]="$any(form.get('number'))" label="Number"></app-error-msg>
      </div>
      <div class="col-8">
        <label for="complement">Complement</label>
        <input type="text" name="complement" id="complement" class="form-control" placeholder="apartment 201 block 902"
          formControlName="complement">
        <app-error-msg [formControl]="$any(form.get('complement'))" label="Complement"></app-error-msg>
      </div>
    </div>

    <div class="form-group">
      <label for="street">Street</label>
      <input type="text" name="street" id="street" class="form-control" placeholder="Street" formControlName="street">
      <app-error-msg [formControl]="$any(form.get('street'))" label="Street"></app-error-msg>
    </div>

    <div class="row g-3">
      <div class="col-5">
        <label for="neighborhood">Neighborhood</label>
        <input type="text" name="neighborhood" id="neighborhood" class="form-control" placeholder="Bangu"
          formControlName="neighborhood">
        <app-error-msg [formControl]="$any(form.get('neighborhood'))" label="Neighborhood"></app-error-msg>
      </div>
      <div class="col-4">
        <label for="city">City</label>
        <input type="text" name="city" id="city" class="form-control" placeholder="Rio de Janeiro"
          formControlName="city">
        <app-error-msg [formControl]="$any(form.get('city'))" label="City"></app-error-msg>
      </div>
      <div class="col-3">
        <label for="state">State</label>
        <select type="text" name="state" id="state" class="form-control" placeholder="Rio de Janeiro"
          formControlName="state">
          <option *ngFor="let state of states | async" [value]="state.acronym">{{state.name}}</option>
        </select>
        <app-error-msg [formControl]="$any(form.get('state'))" label="State"></app-error-msg>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-3">
      <label for="role">Role</label>
      <select type="text" name="role" id="role" class="form-control" placeholder="Junior" formControlName="role"
        [compareWith]="compareRoles">
        <option *ngFor="let role of roles" [ngValue]="role">{{role.lvl}}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-3">
      <label for="techs">Techs</label>
      <select type="text" name="techs" id="techs" class="form-control" placeholder="Junior" formControlName="techs"
        multiple>
        <option *ngFor="let tech of techs" [value]="tech.name">{{tech.name}}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="newsletter">Newsletter</label>
    <div>
      <div class="form-check form-check-inline" *ngFor="let option of newsletterOp">
        <input class="form-check-input" type="radio" formControlName="newsletter" [id]="option.description"
          [value]="option.value">
        <label class="form-check-label" [for]="option.description">{{option.description}}</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3">
      <div class="checkbox">
        <label for="" class="checkbox-inline">
          <input type="checkbox" formControlName="terms"> Accept terms
        </label>
        <app-error-field [showError]="verifyValidTouched('terms')" errorText="Please accept the terms before submiting">
        </app-error-field>
      </div>
    </div>
  </div>

  <div>
    <label for="frameworks">Frameworks</label>
    <div class="checkbox" class="col-sm-4" formArrayName="frameworks"
      *ngFor="let item of getFrameworksControls(); let i = index">
      <label class="checkbox-inline">
        <input type="checkbox" [formControlName]="i" [checked]=""> {{ frameworksOpt[i] }}
      </label>
    </div>
    <app-error-field [showError]="!form.get('frameworks')?.valid && !!form.get('frameworks')?.touched"
      errorText="Select at least two options" />
  </div>


  <button type="submit" class="btn btn-primary mt-2 w-25">Submit</button>
  <button type="button" class="btn btn-primary mt-2 w-25" (click)="setRole()">Set default role</button><button
    type="button" class="btn btn-primary mt-2 w-25" (click)="setTechs()">Set default techs</button>
  <app-form-debug [form]="form"></app-form-debug>
</form>
