<app-elvis-operator></app-elvis-operator>
<br>
<app-ng-content-example>
  <span class="title">
    Title from select
  </span>
  <div>
    <h3>This was passed by select, this is the body</h3>
    <ul class="list-group body w-25 p-2">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
    </ul>
  </div>
</app-ng-content-example>
<router-outlet></router-outlet>
